<table id="example" class="display dataTable" aria-describedby="example_info" style="border-collapse: collapse; border-spacing: 0px; width: 854.398px; margin: 0px auto; color: rgb(229, 233, 238); font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(33, 37, 41); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
	<tbody>
		<tr style="background-color: transparent;">
			<td class="dt-type-numeric" style="margin: 0px; padding: 8px 10px; box-sizing: border-box; text-align: right; border-top: 1px solid rgb(64, 67, 70); box-shadow: rgba(255, 255, 255, 0.035) 0px 0px 0px 9999px inset;">59</td>
			<td class="dt-type-date" style="margin: 0px; padding: 8px 10px; box-sizing: border-box; text-align: right; border-top: 1px solid rgb(64, 67, 70); box-shadow: rgba(255, 255, 255, 0.035) 0px 0px 0px 9999px inset;">2012-08-06</td>
			<td class="dt-type-numeric" style="margin: 0px; padding: 8px 10px; box-sizing: border-box; text-align: right; border-top: 1px solid rgb(64, 67, 70); box-shadow: rgba(255, 255, 255, 0.035) 0px 0px 0px 9999px inset;">$137,500</td>
		</tr>
	</tbody>
</table>


